* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.main-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-flow: dense;
    margin: 10px;
}

#main {
    grid-column-start: 2;
    padding: 10px;
}

#leftside {
    grid-column-start: 1;
    padding: 10px;
}

#rightside {
    grid-column-start: 3;
    padding: 10px;
}

.main-containers {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.box1 {
    background-color: rgb(102, 182, 182);
    grid-column: 1/3;
}

.box2 {
    background-color: coral;
    grid-column: 1/3;
}

.box3 {
    background-color: yellowgreen;
    grid-column:3;
    grid-row:1/3;
}